.rightButtons{
    float: right;
    text-decoration: none;

}

.buttonRight{
    padding: 4px 32px;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    cursor: pointer;
}

.button1{
  background-color: white;
    color: black;
    border: 2px solid white;
}

.button1:hover{
    background-color: black;
    color: white;
}

.button2{
    background-color: white;
    color: black;
    border: 2px solid black;
}

.button2:hover{
    background-color: black;
    color: white;
}

.button3{
    background-color: white;
    color: black;
    border: 2px solid red;
}

.button3:hover{
    background-color: red;
    color: white;
}

.button4{
    background-color: white;
    color: black;
    border: solid 2px #37ff00;
}

.button4:hover{
    background-color: #37ff00;
    color: white;
}

.button5{
    background-color: white;
    color: black;
    border: solid 2px orange;

}

.button5:hover{
    background-color: orange;
    color: white;
}




.button6{
    background-color: white;
    color: black;
    border: solid 2px blue;
}

.button6:hover{
    background-color: blue;
    color: white;
}
body{
    font-family: "Times New Roman";
    font-size: 110%;
}

.headLine{
    text-align: center;
    font-family: "Comic Sans MS";
    font-size: 200%;
    text-align: center;
    padding-top: 2%;
    text-decoration: blink;
}

nav{
    margin-top: 11%;
    background-color: gray;
    padding: 1%;
    border-top: black solid;
    border-bottom: black solid;
}

.a{
    color: white;
    text-decoration: none;
    margin-right: 15%;
}

.headerLeft{
    float: left;
}

.header{
    background-color: #37ff00;
}

.features{

}

.Homepage_steps{
    float: left;
    font-family: 'Georgia';
    margin-right: 8%;
    border: black solid;
    border-width: 0.5px;
    padding: 1%;
}




footer{
    background-color:#37ff00 ;
    color: black;
    text-align: center;
    padding: 1px;
}

a.manMat{
    text-decoration: none;
}

span{
    color: red;
}

input[type=text]{
    border: black 2px solid;
    border-radius: 4px;
    width: 250px;
    height: 30px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 120%;
}

input[type=password]{
    border: black 2px solid;
    border-radius: 4px;
    width: 250px;
    height: 30px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 120%;
}


input[type=email]{
    border: black 2px solid;
    border-radius: 4px;
    width: 250px;
    height: 30px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 120%;
}

input[type=date]{
    border: black 2px solid;
    border-radius: 4px;
    width: 250px;
    height: 30px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=number]{
    border: black 2px solid;
    border-radius: 4px;
    width: 250px;
    height: 30px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=search]{
    width: 55%;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 4px;
    font-size: 13px;
    background-color: white;
    background-image: url("search-128.png");
    background-size: 20px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;

}

input[type=search]:focus{
    width: 100%;
}

.userText{
    background-image: url("user.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 5px 2px;
    padding: 12px 20px 12px 40px;
}

.userPass{
    background-image: url("password.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 5px 2px;
    padding: 12px 20px 12px 40px;
}

.addtoCart{
    background-image: url("addtoCart.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 5px 2px;
}

.removefromCart{
    background-image: url("removecart.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 5px 2px;
}

.checkoutfromCart{
    background-image: url("checkoutCart.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 5px 2px;
}

.pay{
    background-image: url("pay.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 5px 2px;
}

.reset{
    background-image: url("reset.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 5px 2px;
}

.changePass{
    background-image: url("change pass.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 5px 2px;
}

.deacProf{
    background-image: url("Users Remove user.ico");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 5px 2px;
}

.logOut{
    background-image: url("logout.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 5px 2px;
}

.logIn{
    background-image: url("login.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 5px 2px;

}
.signUp{
    background-image: url("signUp.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 5px 2px;
}

.deleteMat{
    background-image: url("delete.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 5px 2px;
}

.updateMat{
    background-image: url("update.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 5px 2px;
}

.addMat{
    background-image: url("addMat.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 5px 2px;
}